---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* =Type sizes 
10 / 16 = 0.625em	(10px equivalent)
12 / 16 = 0.75em	(12px equivalent)
14 / 16	= 0.875em 	(14px equivalent)
16 / 16	= 1em 		(16px equivalent)
18 / 16 = 1.125em 	(18px equivalent)
21 / 16 = 1.3125em 	(21px equivalent)
24 / 16 = 1.5em 	(24px equivalent)
30 / 16 = 1.875em 	(30px equivalent)
32 / 16 = 2em
34 / 16 = 2.125em
*/

// Our variables
$base-font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
$base-font-size:   1.125em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: ivory;
$brand-color:      tomato;
$site-title-color:	darkred;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    56em;

$on-palm:		30em;
$on-laptop:     48em;
$on-desktop:	78.75em;	




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// Attempt at min-width mq
@mixin media-query-min($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}
@include media-query($on-palm) {
    .bg  {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

@include media-query-min($on-desktop) {
			p {
				max-width: 38em;
			}
			.site-header	{
				padding-top: 2em;
			}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

//.post-content > * + *          {
//			margin-top: 3em;
////			border-top: 4px solid ;
//}
