---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Our variables
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;

$text-color: #444444; 			
$background-color: white;
$brand-color: #966d09;	
$brand-color-light: slategray;
$link-color: steelblue;  
$hover-color: darkorange;
$accent-color: midnightblue;
$focus-color: rebeccapurple;

$grey-color: grey;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

/* Width of the content area. Stick to px (% won't work) */
$content-width: 960px;

$on-palm: 480px;
$on-laptop: 768px;
$on-desktop: 1600px;	
$on-widescreen: 1900px;
$pad: 30px;


.module-portfolio	{
					margin-bottom: 24px;
				}
.module-portfolio p	{
					margin-bottom: $spacing-unit / 6; /* counters that set in base.scss */					
}
				
.page-content	{
				margin-top: 30px;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// min-width mq
@mixin media-query-min($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

@include media-query-min($on-laptop) {
			p {
				max-width: 650px;
			}
}

@include media-query-min($on-desktop) {
				.wrapper, a.post-link  {
				font-size: 20px;
			}
	
}


// widescreen

@include media-query-min($on-widescreen) {
				.wrapper, a.post-link  {
				font-size: 30px;
			}

}


// Hover for post-list

.post-list > li {
				transition: all 0.5s ease;
}

@include media-query-min($on-laptop) {
			.post-list > li:hover {
			padding-left: 30px;
		}
}

/* Grid for portfolio landing page	*/


@include media-query-min($on-laptop) {
[class='col-portfolio'] {
	float: left;
	width: 50%;
	padding-right: $pad;
	.grid &:last-of-type {
	padding-right: $pad;
  }
}

/* Modules */

.module-portfolio	{
					margin-bottom: 66px;
				}
.module-portfolio p:last-child	{
								margin-top: 20px;
}

/* Opt-in outside padding */
.grid-pad {
		padding: $pad 0 $pad $pad;
		[class*='col-']:last-of-type {
		padding-right: $pad;
  }
}
}

/* =Print styles */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
		"helpers"
;

