.media {
  margin:10px;
}

.media, .media__body {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}

.media .media__img {
  float:left;
  margin-right: 10px;
}

.media .media__img img{
  display:block;
}

.media .imgExt{
  float:right;
  margin-left: 10px;
}
